EMMIE_APP_NAME=Emmie
EMMIE_URL_PREFIX=/AI100
EMMIE_DB_PATH=var/data/emmie.sqlite3
EMMIE_SECRET_KEY=change-me-before-production
EMMIE_PORT=8001
EMMIE_DEPLOY_BRANCH=main
EMMIE_SYSTEMD_USER_SERVICE=emmie.service
# EMMIE_GUNICORN_PID_FILE=/home/kevinlb/bin/emmie/var/run/gunicorn.pid
