GIZMOAPP_APP_NAME=GizmoApp
GIZMOAPP_SHELL=graphical
GIZMOAPP_URL_PREFIX=/AI100
GIZMOAPP_DB_PATH=var/data/gizmoapp.sqlite3
GIZMOAPP_SECRET_KEY=change-me-before-production
GIZMOAPP_PORT=8001
GIZMOAPP_DEPLOY_BRANCH=main
GIZMOAPP_SYSTEMD_USER_SERVICE=gizmoapp.service
# GIZMOAPP_GUNICORN_PID_FILE=/home/kevinlb/bin/GizmoApp/var/run/gunicorn.pid
